@media (orientation: portrait) {
  #containerCompanyManagment {
    height: 100%;
    background-color: pink;
    #addingAnIceCreamParlor {
      position: absolute;
      top: 14.5vw;
      right: 2vw;
    }
  }
}